body{
    text-align: center;
}
input{
    display: block;
    margin: 0 auto;
}

select{
    display: block;
    margin: 0 auto;
}

#radio, #checkbox{
    display: inline-block;
}

#submit{
    display: block;
    margin: 0 auto;
}